@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@500&family=Noto+Sans:wght@300;400;500;600&display=swap');

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body {
   
  background:-moz-radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);
 }

.logo{
  font-family: 'Catamaran', sans-serif;
}

.text{
  font-family: 'Noto Sans', sans-serif;
}



.sidebar {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  
  @-webkit-keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
  
  @keyframes slide-top {
    0% {
      -webkit-transform: translateY(100px);
      transform: translateY(100px);
    }
    100% {
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }

.background {


    /* ff 3.6+ */
    background:-moz-radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);

    /* safari 5.1+,chrome 10+ */
    background:-webkit-radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);

    /* opera 11.10+ */
    background:-o-radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);

    /* ie 10+ */
    background:-ms-radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);

    /* global 92%+ browsers support */
    background:radial-gradient(ellipse at 50% 50%, #1A1532 0%, #0F0F0F 100%);


            
}

.blue__gradient {
  background: linear-gradient(180deg, rgba(188, 165, 255, 0) 0%, #1A1532 100%);
  filter: blur(123px);
}

.box-shadow:hover{
  -webkit-box-shadow: 0px 0px 87px 23px rgba(86,59,250,0.7);
-moz-box-shadow: 0px 0px 87px 23px rgba(86,59,250,0.7);
box-shadow: 0px 0px 87px 23px rgba(86,59,250,0.7);
}


.headerText{
  @apply text-white text-lg sm:text-3xl font-semibold; 
}

.seeMore{
  @apply uppercase bg-transparent border-none outline-none text-xs sm:text-base text-[#563bfa] font-medium ;
}

.cardWrap {
  @apply flex flex-row flex-wrap gap-5 justify-center sm:justify-start rounded;
}

.mainWrapper {
  @apply flex flex-row flex-wrap gap-5 justify-center sm:justify-between rounded;
}

  